:root {
    --color-dark: #4cae4f;
}

:root.theme-dark {
    --color-dark: #4cae4f;
}


.library-name a {
    position: relative;
    margin-left: 55px;
}

.library-name a::before {
    content: '';
    background: url("../../images/logo.png") center no-repeat;
    background-size: contain;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -18px;
    left: -55px;
}